n8n/whispernote-telemetry-intake.json
{
  "name": "WhisperNote v1 telemetry intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whispernote/v1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000001",
      "name": "WhisperNote intake webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1040, 120],
      "webhookId": "1b9a3486-13a4-4070-9d3a-000000000001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "__SELECT_HEADER_AUTH_CREDENTIAL_AFTER_IMPORT__",
          "name": "WhisperNote telemetry header (configure after import)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source=$input.first(),request=source.json||{},body=request.body,uuid=v=>typeof v==='string'&&/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(v),plain=v=>v!==null&&typeof v==='object'&&!Array.isArray(v),canonical=v=>{if(typeof v!=='string')return false;const m=/^(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})(?:\\.\\d{1,9})?Z$/.exec(v);if(!m)return false;const d=new Date(v);return !Number.isNaN(d)&&d.toISOString().slice(0,19)===m[1];};let reject=false,globalTimestampInvalid=false;const seen=new Set(),duplicates=new Set(),invalidTimestamps=new Set();if(plain(body)){if(Object.prototype.hasOwnProperty.call(body,'sent_at')&&!canonical(body.sent_at)){reject=true;globalTimestampInvalid=true;}if(Array.isArray(body.items))for(const item of body.items){if(!plain(item))continue;const id=item.event_id;if(uuid(id)){if(seen.has(id)){duplicates.add(id);reject=true;}seen.add(id);if(Object.prototype.hasOwnProperty.call(item,'occurred_at')&&!canonical(item.occurred_at)){invalidTimestamps.add(id);reject=true;}}}}const rejected=[];for(const id of duplicates)rejected.push({event_id:id,reason_code:'duplicate_event_id'});for(const id of invalidTimestamps)if(!duplicates.has(id))rejected.push({event_id:id,reason_code:'invalid_timestamp'});const response={contract_version:1,accepted_event_ids:[],rejected};return[{json:{...request,preflight_passed:!reject,response,global_reason:globalTimestampInvalid?'invalid_timestamp':duplicates.size?'duplicate_event_id':undefined},binary:source.binary}];"
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000015",
      "name": "Reject duplicate and noncanonical timestamps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
          "conditions": [{"id": "1b9a3486-13a4-4070-9d3a-000000000016", "leftValue": "={{ $json.preflight_passed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000017",
      "name": "Preflight passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 120]
    },
    {
      "parameters": {
        "jsCode": "const source=$input.first(),request=source.json||{},body=request.body,uuid=v=>typeof v==='string'&&/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(v),plain=v=>v!==null&&typeof v==='object'&&!Array.isArray(v),ids=[];if(plain(body)&&Array.isArray(body.items))for(const item of body.items)if(plain(item)&&item.kind==='feedback'&&Object.prototype.hasOwnProperty.call(item,'install_id')&&uuid(item.event_id))ids.push(item.event_id);const unique=[...new Set(ids)],passed=unique.length===0,response={contract_version:1,accepted_event_ids:[],rejected:unique.map(event_id=>({event_id,reason_code:'unknown_field'}))};return[{json:{...request,feedback_identity_passed:passed,response},binary:source.binary}];"
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000019",
      "name": "Reject feedback install ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
          "conditions": [{"id": "1b9a3486-13a4-4070-9d3a-000000000020", "leftValue": "={{ $json.feedback_identity_passed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000021",
      "name": "Feedback identity passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-80, 120]
    },
    {
      "parameters": {
        "jsCode": "const MAX_BYTES=64*1024,MAX_ITEMS=20,MAX_MESSAGE_CHARS=2000,CONTRACT=1,HEALTH_TABLE_ID='__REPLACE_WITH_HEALTH_DATA_TABLE_ID__',FEEDBACK_TABLE_ID='__REPLACE_WITH_FEEDBACK_DATA_TABLE_ID__';const input=$input.first(),request=input.json||{},body=request.body,headers=request.headers||{},raw=input.binary&&input.binary.data&&input.binary.data.data;const healthNames=['first_recording_completed','first_transcript_completed','first_summary_completed','weekly_active','stage_outcome'],stages=['recording_finalize','transcription','summary'],outcomes=['success','failure','cancelled'],durations=['lt_1s','1_5s','5_15s','15_60s','1_5m','5_15m','15_30m','30_60m','gte_60m','unknown'],failures=['permission','no_audio','device','storage','network','timeout','rate_limited','authentication','service','decode','persistence','cancelled','unknown'],categories=['bug','idea','usability','other'];const uuid=v=>typeof v==='string'&&/^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test(v),plain=v=>v!==null&&typeof v==='object'&&!Array.isArray(v),has=(o,k)=>Object.prototype.hasOwnProperty.call(o,k),keys=(o,a)=>plain(o)&&Object.keys(o).every(k=>a.includes(k)),one=(v,a)=>typeof v==='string'&&a.includes(v),timestamp=v=>{if(typeof v!=='string')return false;const m=/^(\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2})(?:\\.\\d{1,9})?Z$/.exec(v);if(!m)return false;const d=new Date(v);return !Number.isNaN(d)&&d.toISOString().slice(0,19)===m[1];},appVersion=v=>typeof v==='string'&&/^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-[0-9A-Za-z-]+(?:\\.[0-9A-Za-z-]+)*)?(?:\\+[0-9A-Za-z-]+(?:\\.[0-9A-Za-z-]+)*)?$/.test(v),appBuild=v=>typeof v==='string'&&/^(0|[1-9]\\d*)(?:\\.(0|[1-9]\\d*)){0,2}$/.test(v),osVersion=v=>typeof v==='string'&&/^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)$/.test(v),weekStart=v=>{if(typeof v!=='string'||!/^\\d{4}-\\d{2}-\\d{2}$/.test(v))return false;const d=new Date(v+'T00:00:00Z');return !Number.isNaN(d)&&d.toISOString().slice(0,10)===v&&d.getUTCDay()===1;},bytes=v=>raw?Buffer.from(raw,'base64').length:Buffer.byteLength(JSON.stringify(v===undefined?null:v),'utf8'),reject=(eventID,reason)=>({event_id:uuid(eventID)?eventID:null,reason_code:reason}),blank=()=>({install_id:'',event_name:'',stage:'',outcome:'',duration_bucket:'',failure_bucket:'',week_start:'',category:'',message:''}),rejectBatch=(reason,rejected=[])=>[{json:{valid_envelope:false,has_accepted:false,accepted_rows:[],response:{contract_version:CONTRACT,accepted_event_ids:[],rejected:rejected.filter(x=>x.event_id!==null)},global_reason:reason}}];function validate(x,now,expires){const id=plain(x)?x.event_id:null;if(!plain(x))return{bad:reject(id,'invalid_item')};if(!one(x.kind,['health_event','feedback']))return{bad:reject(id,'invalid_enum')};const health=['kind','event_id','schema_version','occurred_at','app_version','app_build','os_version','install_id','event_name','stage','outcome','duration_bucket','failure_bucket','week_start'],feedback=['kind','event_id','schema_version','occurred_at','app_version','app_build','os_version','category','message'];if(!keys(x,x.kind==='health_event'?health:feedback))return{bad:reject(id,'unknown_field')};for(const k of ['kind','event_id','schema_version','occurred_at','app_version','app_build','os_version'])if(!has(x,k))return{bad:reject(id,'invalid_item')};if(x.schema_version!==1)return{bad:reject(id,'unsupported_schema_version')};if(!uuid(x.event_id))return{bad:reject(id,'invalid_uuid')};if(!timestamp(x.occurred_at))return{bad:reject(id,'invalid_timestamp')};if(!appVersion(x.app_version)||!appBuild(x.app_build)||!osVersion(x.os_version))return{bad:reject(id,'invalid_version')};const row={event_id:x.event_id,kind:x.kind,schema_version:1,occurred_at:x.occurred_at,app_version:x.app_version,app_build:x.app_build,os_version:x.os_version,received_at:now,expires_at:expires,...blank()};if(x.kind==='feedback'){if(!has(x,'category')||!has(x,'message')||!one(x.category,categories)||typeof x.message!=='string')return{bad:reject(id,'invalid_item')};const message=x.message.trim();if(!message||Array.from(message).length>MAX_MESSAGE_CHARS)return{bad:reject(id,'invalid_message')};row.category=x.category;row.message=message;row.target_table_id=FEEDBACK_TABLE_ID;return{row};}if(!has(x,'install_id')||!has(x,'event_name')||!uuid(x.install_id)||!one(x.event_name,healthNames))return{bad:reject(id,'invalid_item')};for(const [k,a] of [['stage',stages],['outcome',outcomes],['duration_bucket',durations],['failure_bucket',failures]])if(has(x,k)&&!one(x[k],a))return{bad:reject(id,'invalid_enum')};if(has(x,'week_start')&&!weekStart(x.week_start))return{bad:reject(id,'invalid_week_start')};const n=x.event_name,stage=has(x,'stage')?x.stage:null,outcome=has(x,'outcome')?x.outcome:null,duration=has(x,'duration_bucket')?x.duration_bucket:null,failure=has(x,'failure_bucket')?x.failure_bucket:null,week=has(x,'week_start')?x.week_start:null;if(['first_recording_completed','first_transcript_completed','first_summary_completed'].includes(n)&&(stage||outcome||duration||failure||week))return{bad:reject(id,'invalid_shape')};if(n==='weekly_active'&&(!week||stage||outcome||duration||failure))return{bad:reject(id,'invalid_shape')};if(n==='stage_outcome'&&(!stage||!outcome||week||(outcome==='success'&&failure)||(outcome==='failure'&&(!failure||failure==='cancelled'))||(outcome==='cancelled'&&failure!=='cancelled')))return{bad:reject(id,'invalid_shape')};row.install_id=x.install_id;row.event_name=n;row.stage=stage||'';row.outcome=outcome||'';row.duration_bucket=duration||'';row.failure_bucket=failure||'';row.week_start=week||'';row.target_table_id=HEALTH_TABLE_ID;return{row};}const contentType=headers['content-type']||headers['Content-Type']||'';if(typeof contentType!=='string'||!/^application\\/json(?:\\s*;.*)?$/i.test(contentType))return rejectBatch('invalid_content_type');if(bytes(body)>MAX_BYTES)return rejectBatch('body_too_large');const envelopeKeys=['contract_version','batch_id','sent_at','items'];if(!keys(body,envelopeKeys)||!has(body,'contract_version')||!has(body,'batch_id')||!has(body,'sent_at')||!has(body,'items'))return rejectBatch('invalid_envelope');if(body.contract_version!==CONTRACT)return rejectBatch('unsupported_contract_version');if(!uuid(body.batch_id)||!timestamp(body.sent_at)||!Array.isArray(body.items)||body.items.length===0||body.items.length>MAX_ITEMS)return rejectBatch('invalid_batch');const duplicateIDs=new Set(),seenIDs=new Set();for(const candidate of body.items)if(plain(candidate)&&uuid(candidate.event_id)){if(seenIDs.has(candidate.event_id))duplicateIDs.add(candidate.event_id);seenIDs.add(candidate.event_id);}if(duplicateIDs.size)return rejectBatch('duplicate_event_id',[...duplicateIDs].map(event_id=>reject(event_id,'duplicate_event_id')));const now=new Date().toISOString(),expires=new Date(Date.now()+89*24*60*60*1000).toISOString(),accepted=[],rows=[],rejected=[];for(const candidate of body.items){const result=validate(candidate,now,expires);if(result.row){accepted.push(result.row.event_id);rows.push(result.row);}else rejected.push(result.bad);}return[{json:{valid_envelope:true,has_accepted:rows.length>0,accepted_rows:rows,response:{contract_version:CONTRACT,accepted_event_ids:accepted,rejected:rejected.filter(x=>x.event_id!==null)}}}];"
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000002",
      "name": "Validate v1 batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 120]
    },
    {
      "parameters": {
        "jsCode": "const decision=$input.first().json,retentionMs=89*24*60*60*1000,rows=(decision.accepted_rows||[]).map(row=>({...row,expires_at:new Date(Date.parse(row.received_at)+retentionMs).toISOString()}));return[{json:{...decision,accepted_rows:rows}}];"
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000018",
      "name": "Set conservative 89-day expiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
          "conditions": [{"id": "1b9a3486-13a4-4070-9d3a-000000000003", "leftValue": "={{ $json.has_accepted }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000004",
      "name": "Has accepted items",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 120]
    },
    {
      "parameters": {"fieldToSplitOut": "accepted_rows", "options": {}},
      "id": "1b9a3486-13a4-4070-9d3a-000000000005",
      "name": "Split accepted items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-320, 20]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {"__rl": true, "value": "={{ $json.target_table_id }}", "mode": "id"},
        "matchType": "allConditions",
        "filters": {"conditions": [{"keyName": "event_id", "condition": "eq", "keyValue": "={{ $json.event_id }}"}]},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $json.event_id }}",
            "kind": "={{ $json.kind }}",
            "schema_version": "={{ $json.schema_version }}",
            "occurred_at": "={{ $json.occurred_at }}",
            "app_version": "={{ $json.app_version }}",
            "app_build": "={{ $json.app_build }}",
            "os_version": "={{ $json.os_version }}",
            "install_id": "={{ $json.install_id }}",
            "event_name": "={{ $json.event_name }}",
            "stage": "={{ $json.stage }}",
            "outcome": "={{ $json.outcome }}",
            "duration_bucket": "={{ $json.duration_bucket }}",
            "failure_bucket": "={{ $json.failure_bucket }}",
            "week_start": "={{ $json.week_start }}",
            "category": "={{ $json.category }}",
            "message": "={{ $json.message }}",
            "received_at": "={{ $json.received_at }}",
            "expires_at": "={{ $json.expires_at }}"
          },
          "matchingColumns": [],
          "schema": [{"id": "event_id", "displayName": "event_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "readOnly": false, "removed": false}],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000006",
      "name": "Upsert accepted event",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [-80, 20]
    },
    {
      "parameters": {"jsCode": "return [{json:{response:$('Validate v1 batch').first().json.response}}];"},
      "id": "1b9a3486-13a4-4070-9d3a-000000000007",
      "name": "Build persisted acknowledgement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 20]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {"responseCode": 200, "responseHeaders": {"entries": [{"name": "Cache-Control", "value": "no-store"}]}}
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000008",
      "name": "Respond accepted or partial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [400, 20]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
          "conditions": [{"id": "1b9a3486-13a4-4070-9d3a-000000000009", "leftValue": "={{ $json.valid_envelope }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000010",
      "name": "Envelope is valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-320, 220]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json.response }}", "options": {"responseCode": 200, "responseHeaders": {"entries": [{"name": "Cache-Control", "value": "no-store"}]}}},
      "id": "1b9a3486-13a4-4070-9d3a-000000000011",
      "name": "Respond all rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-80, 180]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json.response }}", "options": {"responseCode": 400, "responseHeaders": {"entries": [{"name": "Cache-Control", "value": "no-store"}]}}},
      "id": "1b9a3486-13a4-4070-9d3a-000000000012",
      "name": "Respond invalid envelope",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-80, 300]
    },
    {
      "parameters": {
        "content": "## Configure before activation\n\nCreate separate Health and Feedback Data Tables. Replace the two table-ID placeholders in Validate v1 batch. Select the Header Auth credential on the webhook. Disable stored successful execution data before testing with real feedback.",
        "height": 230,
        "width": 520,
        "color": 5
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000013",
      "name": "Setup note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1040, -220]
    },
    {
      "parameters": {
        "content": "## Acknowledgement semantics\n\nA valid envelope receives HTTP 200 after every accepted item has been upserted. Duplicate IDs across requests are accepted without a second row; duplicate IDs in one batch are rejected before storage. A valid envelope with only invalid items returns HTTP 200 and a rejected list. Invalid envelopes return HTTP 400 without echoed request values.",
        "height": 230,
        "width": 500,
        "color": 7
      },
      "id": "1b9a3486-13a4-4070-9d3a-000000000014",
      "name": "Contract note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, -220]
    }
  ],
  "pinData": {},
  "connections": {
    "WhisperNote intake webhook": {"main": [[{"node": "Reject duplicate and noncanonical timestamps", "type": "main", "index": 0}]]},
    "Reject duplicate and noncanonical timestamps": {"main": [[{"node": "Preflight passed", "type": "main", "index": 0}]]},
    "Preflight passed": {"main": [[{"node": "Reject feedback install ID", "type": "main", "index": 0}], [{"node": "Respond invalid envelope", "type": "main", "index": 0}]]},
    "Reject feedback install ID": {"main": [[{"node": "Feedback identity passed", "type": "main", "index": 0}]]},
    "Feedback identity passed": {"main": [[{"node": "Validate v1 batch", "type": "main", "index": 0}], [{"node": "Respond invalid envelope", "type": "main", "index": 0}]]},
    "Validate v1 batch": {"main": [[{"node": "Set conservative 89-day expiry", "type": "main", "index": 0}]]},
    "Set conservative 89-day expiry": {"main": [[{"node": "Has accepted items", "type": "main", "index": 0}]]},
    "Has accepted items": {"main": [[{"node": "Split accepted items", "type": "main", "index": 0}], [{"node": "Envelope is valid", "type": "main", "index": 0}]]},
    "Split accepted items": {"main": [[{"node": "Upsert accepted event", "type": "main", "index": 0}]]},
    "Upsert accepted event": {"main": [[{"node": "Build persisted acknowledgement", "type": "main", "index": 0}]]},
    "Build persisted acknowledgement": {"main": [[{"node": "Respond accepted or partial", "type": "main", "index": 0}]]},
    "Envelope is valid": {"main": [[{"node": "Respond all rejected", "type": "main", "index": 0}], [{"node": "Respond invalid envelope", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "1b9a3486-13a4-4070-9d3a-000000000099",
  "meta": {"templateCredsSetupCompleted": false},
  "tags": []
}
